{% extends "layout/base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h3 class="mb-0">Datos del Paciente</h3>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <h5 class="card-title">RUT</h5>
          <p class="card-text">{{ ficha_medica.rut_paciente }}</p>
        </div>
        <div class="col-md-6">
            <h5 class="card-title">Nombre</h5>
            <p class="card-text">{{ ficha_medica.nombre_paciente }}</p>
        </div>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Apellido</h5>
        <p class="card-text">{{ ficha_medica.apellido_paciente }}</p>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Medico a cargo</h5>
        <p class="card-text">{{ ficha_medica. }}</p>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Anamnesis</h5>
        <p class="card-text">{{ ficha_medica.anamnesis }}</p>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Diagnóstico</h5>
        <p class="card-text">{{ ficha_medica.diagnostico }}</p>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Examenes</h5>
        <p class="card-text">
            {% if examen %}
                {{ examen.nombre_examen }} <!-- Displaying the exam name -->
            {% else %}
                No hay examenes disponibles.
            {% endif %}
        </p>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Medicamentos</h5>
        <p class="card-text">
            {% if ficha_medica.producto %}
                {{ ficha_medica.producto.nombre }} <!-- Assuming you have a related product object -->
            {% else %}
                No hay medicamentos disponibles.
            {% endif %}
        </p>
      </div>
      <div class="mb-3">
        <h5 class="card-title">Fecha de Atención</h5>
        <p class="card-text">{{ ficha_medica.fecha_atencion }}</p>
      </div>
    </div>
    <div class="card-footer">
      <a href="{% url 'fichas_medicas_list' %}" class="btn btn-secondary">Volver</a>
      <a href="{% url 'ficha_medica_edit' ficha_medica.id_ficha %}" class="btn btn-warning">Editar</a>      
      <form action="{% url 'ficha_medica_delete' ficha_medica.id_ficha %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}